sandbox/
notes/
noter/
where-to-put-this/
**/dummy.py/**
**/dummy.ts/**

.vscode/**
.vscode-test/**
out/**
node_modules/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.ts
.env/Lib/**
.github/
**/__pycache__/**
**/.pyc
bundled/libs/bin/**
.pytest_cache/**
.pylintrc
**/requirements.txt
**/requirements.in
**/tool/_debug_server.py